<h1><%= @studio.name %></h1>

<ol>
    <% @studio.instruments.each do |instrument| %>
        <li><a href="<%= "/studios/#{@studio.id}/instruments/#{instrument.id}" %>"><%= instrument.name %></a></li>
    <% end %>
</ol>

<form action="/studios/<%= @studio.id %>/instruments" method="POST">
    <input type="text" name="name">
    <input type="submit" value="Add Instrument">
</form>