<h1><%= @studio.name %></h1>

<ol>
    <% @studios.each do |studio| %>
        <li><a href="<%= "/producers/show" %>"><%= producer.name %></a></li>
    <% end %>
</ol>

<form action="/studios/<%= @studio.id %>/producers" method="POST">
    <input type="text" name="name">
    <input type="submit" value="Add Producer">
</form>